<div class ="content">
  <div>
    <h2>{{ user.username }}</h2>
  </div>
  <div>
      <img src={{ user.profile_picture}} alt="profile picture"><br>
  </div>
  <div>
    <form>
      <input type="text" name="Name" placeholder="" value="{{ user.full_name }}"><br>
      <input type="email" name="email address" placeholder="" value="{{user.email}}"><br>
      <textarea rows="8" name="bio" placeholder="">{{user.bio}}</textarea><br>
      <button class="button" type="button">Save</button>
    </form>
  </div>
</div>
