
<div class ="content">
  <div>
    <h3>{{UserName}}</h2>
  </div>
  <div>
      <img src={{Picture}} alt="profile picture"><br>
  </div>
  <div>
    <form>
      <input type="text" name="Name" placeholder="{{Name}}" value=""><br>
      <input type="email" name="email address" placeholder="{{Email}}" value=""><br>
      <textarea rows="8" name="bio" placeholder="{{Bio}}"></textarea><br>
      <button class="button" type="button">Save</button>
    </form>
  </div>
</div>
